p{
    background-color: rgb(254, 226, 226);
}

.navContainer{
    background-color: rgb(255, 248, 248);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navControls{
    border: none;
    background-color: rgb(188, 211, 216);
    padding: 2em;
    font-size: 1.2em;
    margin: 0em 3em 0em 3em;
}

.navControls:hover{
    background-color: blue;
}
